# Smart Thermostat first setup configuration

# SD card mount points (must be mounted already)
SD_PATH_ROOT=/path/to/rootfs
SD_PATH_BOOT=/path/to/boot

# WiFi configuration
WIFI_SSID=ssid
WIFI_WPA2PSK=passphrase

# Device hostname. Can be referred to with the .local suffix in mDNS networks
DEV_HOSTNAME=thermostat

# Network configuration
NETWORK_IPADDR=192.168.0.250/24
NETWORK_GATEWAY=192.168.0.1
NETWORK_DNS=192.168.0.1

# SSH configuration
# Public key for SSH access
SSH_PUBLICKEY=~/.ssh/id_rsa.pub

# Hardware configuration
# GPIO pin where the temperature sensor is connected
TEMPERATURE_GPIO_PIN=24
